/* 覆盖mint 及 ydui 样式专用 */
.mint-searchbar{
    background: #f2d707;
 }
 .mint-searchbar-core{
   color: #333;
   font-size: 0.3rem;
 }
 .mint-searchbar-cancel{
     color: #fff;
 }
 .mint-search{
    height: 100%;
 }
 .mint-tab-item-label{
    font-size: 0.28rem;
    line-height: 0.40rem;
    /* color: #333; */
 }
 .mint-navbar .mint-tab-item.is-selected {
    border-bottom: 1px solid #ef4f4f;
    color: #ef4f4f;
    margin-bottom: -3px;
}
body{
    background: #fff;
}
.yd-cell{
    border: 1px solid #f4f4f4;
}
.yd-cell-title{
    padding: 0;
    padding-bottom: 0.2rem;
    font-weight: 700;
}
.yd-btn-warning{
    font-size: 0.3rem;
    font-weight: 400;
    margin-top: 0.2rem;
}
